<%
"use strict";

/** @typedef {String} content */
/** @this {Jii.view.WebView} */
(function() {
this.title = 'Contacts';

%>

<div class="container container-fluid">
    <div class="media">
        <div class="media-left">
            <a href="http://affka.ru/">
                <img class="media-object" src="/img/developer-kozhin.jpg" width="120" height="120" alt="Vladimir Kozhin">
            </a>
        </div>
        <div class="media-body">
            <h1 class="media-heading">Vladimir Kozhin</h1>
            <p>Idea and realization</p>
            <p>
                Senior Web Developer in <a href="http://extpoint.com">ExtPoint</a> company
            </p>
            <ul class="contact-links">
                <li>
                    <a href="mailto:affka@affka.ru" target="_blank">
                        <img src="/img/icon32-email.png" width="24" height="24" alt="Write letter on affka@affka.ru" />
                    </a>
                </li>
                <li>
                    <a href="http://www.affka.ru" target="_blank">
                        <img src="/img/icon32-link.png" width="24" height="24" alt="Site: affka.ru" />
                    </a>
                </li>
                <li>
                    <a href="skype:affka.kras" target="_blank">
                        <img src="/img/icon32-skype.png" width="24" height="24" alt="Skype: affka.kras" />
                    </a>
                </li>
                <li>
                    <a href="https://vk.com/affka" target="_blank">
                        <img src="/img/icon32-vk.png" width="24" height="24" alt="VK" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<% }).call(this) %>