<%
"use strict";

/** @typedef {app.models.PackageItem[]} packageItems */
/** @this {Jii.view.WebView} */
(function() {
%>

<div class="slide">
    <img src="/img/slide-bg.jpg" />
    <div class="text-slogan">
        <span>Jii &mdash; framework,</span>
        <br /><span>which you already know</span>
    </div>
    <div class="text-about-border"></div>
    <div class="text-about">
        <div class=" container container-fluid">
        <p>
            Architecture and API Jii Framework based on PHP Yii Framework
            <a href="http://www.yiiframework.com/" target="_blank">Yii 2.0</a>,
            which taking it best sides and saved the advantages of JavaScript.
        </p>
        <p>
            Appropriate API significantly lowers the barrier to entry in the Jii Framework.
        </p>
    </div>
    </div>
</div>

<div class="container container-fluid">
    <h1 class="text-center">Current and future</h1>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Done</h3>
            </div>
            <div class="panel-body">
                <ul style="margin-bottom: 10px;">
                    <li>Query Builder, Active Record (MySQL), Model Validation</li>
                    <li>HTTP server with routing and URL creation</li>
                    <li>Structure components: Application, Module, Component...</li>
                    <li>Use Jii in browser</li>
                    <li>Scalable and reliable high-load comet server and client</li>
                    <li><a href="/guide">...</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Future plans</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Client-server bindings for data synchronisation</li>
                    <li>Authentication and authorization</li>
                </ul>
                Have idea? Write on <a href="mailto:affka@affka.ru">affka@affka.ru</a>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid index-help-container">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">
            <div class="btn-group" role="group" style="padding-right: 10px;">
                <a href="https://github.com/jiisoft/jii/watchers" class="btn btn-default btn-sm" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> Watch</a>
                <a href="https://github.com/jiisoft/jii/stargazers" class="btn btn-default btn-sm" target="_blank"><span class="glyphicon glyphicon-star"></span> Star</a>
            </div>
            <b>Watch updates on <a href="https://github.com/jiisoft/jii">GitHub</a>!</b>
        </div>
    </div>
</div>

<div class="container container-fluid index-help-container">
    <h1 class="text-center">Can i help?</h1>
    <div class="thumbnail-cat-img" style="border-bottom-right-radius: 6px;">
        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=410012985072912&quickpay=donate&payment-type-choice=on&default-sum=500&targets=Jii+Framework+Development&project-name=&project-site=http%3A%2F%2Fjiiframework.com&button-text=01&successURL=" width="508" height="78"></iframe>
    </div>
    <div class="index-help-text">
        <p>
            Of course! You can:
        </p>
        <p>
            <span class="glyphicon glyphicon-user"></span>
            <span style="display: inline-block; padding: 10px 5px;">
                Join in development, <a href="mailto:affka@affka.ru">write me letter</a> for more information.
            </span>
        </p>
        <p>
            <span class="glyphicon glyphicon-ruble"></span>
            <span style="display: inline-block; padding: 10px 5px;">
                If you like framework idea, you can donate project. This is increase my motivation.
            </span>
        </p>
        <p>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span style="display: inline-block; padding: 10px 5px;">
                Tell everyone about Jii Framework. Нour friends and colleagues will be interesting!
            </span>
        </p>
    </div>
</div>

<% }).call(this) %>