<%
"use strict";

/** @typedef {String} content */
/** @this {Jii.view.WebView} */
(function() {
%>

<div class="container container-fluid">
    <div class="media">
        <div class="media-left">
            <a href="http://affka.ru/">
                <img class="media-object" src="/img/developer-kozhin.jpg" width="120" height="120" alt="Владимир Кожин">
            </a>
        </div>
        <div class="media-body">
            <h1 class="media-heading">Владимир Кожин</h1>
            <p>Идея и реализация. Пока что единственный разработчик Jii</p>
            <p>
                Ведущий веб-разработчик в компании <a href="http://extpoint.com">ExtPoint</a>
                <br />Контакты и подробнее на <a href="http://affka.ru">affka.ru</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="http://affka.ru/">
                <div style="width: 120px; height: 120px; background: #eee;"></div>
            </a>
        </div>
        <div class="media-body">
            <h4>Хочешь принять участие в разработке?</h4>
            <p>
                На этом месте можешь быть и ты!
                <br />Пиши на <a href="mailto:affka@affka.ru">affka@affka.ru</a>
            </p>
        </div>
    </div>
</div>

<% }).call(this) %>