
@import "header";
@import "guide";
@import "index-slider";
@import "index-example";
@import "index-help";

footer {
    padding: 50px 0 20px 0;
    font-size: 12px;
    color: #404040;
    text-align: center;
}